#key {
    margin-left: "15%";
    margin-right: "15%";
    margin-top: "56px";
    margin-bottom: "56px"
}

nav {
    margin-left: "3%";
    margin-right: "3%"
}

#dateinput {}

#wordinput {}

#siteinput {}